* {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 14px;
    align-items: center;
    max-width: 2000px;
    min-width: 100px;
    flex-wrap: nowrap;
    
}
.head-box1 {
    display: flex;
    gap: 200px;
    font-size: 10px;
    color: rgb(100, 100, 100);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    align-items: center;

}

.head-btn1 {
    width: 115px;
    height: 40px;
    margin-left: 10px;
    background-color:transparent;
    border: 1px solid rgb(25, 114, 247);
    border-radius: 6px;
    color:rgb(25, 114, 247); 
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.head-btn2 {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: rgb(217, 195, 167);
    color:rgb(25, 114, 247);
    font-size: 15px;  
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head-btn3 {
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: rgb(28, 83, 165);
    color: white;
    border-radius: 6px;
    border: 1px solid rgb(52, 55, 59);
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.boss {
    font-size: 30px;
    color: black;
    margin-left: 40px;
    cursor: pointer;
}
.boss-txt {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: 20px;
    color: rgb(25, 114, 247);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;

}
.boss-txt2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   cursor: pointer; 
}
.container-1 {
    display: flex;
    justify-content: center;
}
.box {
    display: flex;
    flex-direction: column;
    
}
.c1-txt1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
    font-weight: 547;
    margin-bottom: 30px;
}
.c1-txt2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 510;
    font-size: 26px;
    text-align: center;
}
.c1-txt3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
}
.container2 {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 40px;
}
.box-txt1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 510;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.box-txt2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 510;
    font-size: 24px;
    width: 500px;
    text-align: center;
}
.box-txt3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 510;
    font-size: 24px;
    text-align: center;
    
}
.box-txt4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 510;
    font-size: 24px;
    text-align: center;
}
.box-btn {
    width: 270px;
    height: 60px;
    margin-top: 40px;
    margin-left: 110px;
    border-radius: 10px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid transparent;
    margin-bottom: 80px;
    box-shadow: 2px 6px 1px gray;
    cursor: pointer;
}
.box2-txt2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 510;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.box2-txt3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 510;
    font-size: 24px;
    width: 500px;
    text-align: center;
}
.box2-txt4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 510;
    font-size: 24px;
    text-align: center;
    
}
.box2-txt5 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 510;
    font-size: 24px;
    text-align: center;
}
.box2-btn {
    width: 270px;
    height: 60px;
    margin-top: 40px;
    margin-left: 110px;
    border-radius: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(0, 106, 255);
    margin-bottom: 80px;
    box-shadow: 2px 6px 1px gray;
    background-color: rgb(19, 81, 189);
    color: azure;
    cursor: pointer;

}
.box2-txt0 {
    text-align: center;
    font-size: 15px;
    background-color:  rgb(19, 81, 189);
    color: azure;
    width: 200px;
    margin-left: 142px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 15px;
    padding-bottom: 5px;
    padding-top: 2px;
}
.c2-box2 {
    border-radius: 10px;
    border: 2px solid rgb(19, 81, 189);
}
.c2-box1 {
    border: 2px solid gray;
    border-radius: 10px;
    padding-top: 45px;
}
@media (min-width:0) and (max-width:576px) {
    .box {
        width: 97%;
    }
    
}
.cov1 {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 30px;
    
}
.cov2 {
    display: flex;
    align-items: center;
}.cov3 {
    display: flex;
    align-items: center;
}.cov4 {
    display: flex;
    align-items: center;
}.cov5 {
    display: flex;
    align-items: center;
}.cov6 {
    display: flex;
    align-items: center;
}.cov7 {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}
.awesome {
    color:rgb(38, 117, 207);
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:500;
    margin-left: 30px;
    margin-top: 25px;
    
}
.txt1 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 20px;
  
}
.box-btn:hover {
    box-shadow: 5px 10px 15px rgb(167, 199, 255);
}
.box2-btn:hover {
    box-shadow: 5px 10px 15px rgb(9, 91, 233);
}
.head-btn1:hover {
    box-shadow: 5px 10px 15px rgb(101, 158, 255);  
   
}
.head-btn2:hover {
    box-shadow: 5px 10px 15px rgb(235, 210, 179);  
   
}
.head-btn3:hover {
    box-shadow: 3px 8px 13px rgb(9, 91, 233);
   
}
.boss-txt:hover {
    color: gray;
}
.boss-txt2:hover {
    color: rgb(9, 91, 233);
}